{% extends 'base.html.twig' %}

{% block title %}Welcome to DogWalker!{% endblock %}

{% block body %}
{% if app.user %}
<div class="text-right">
    <a href="{{ path('app_logout') }}" class="text-indigo-600 hover:text-indigo-900">Logout</a>
    {% else %}
    You are logged out, <a href='{{ path('app_login') }}' class="text-indigo-600 hover:text-indigo-900">Login</a>
{% endif %}
</div>
    <div id="app"></div>
    <div class="container mt-5 text-center">
        <h2 class="mb-4">Symfony & Vue.js Integration</h2>
        <p>This text is rendered by Symfony's Twig template system.</p>
        <p>The Vue component should appear above this text.</p>
    </div>
{% endblock %} 

